@font-face {
  font-family: 'iconfont';
  src: url("http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot");
  src: url("http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.woff") format("woff"), url("http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.ttf") format("truetype"), url("http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.fl {
  float: left; }

.fr {
  float: right; }

.navbar {
  border: 1px solid transparent;
  padding: 15px 0px; }

.navbar-fixed-top {
  background-color: transparent !important;
  transition: background-color 1s ease 0s; }

.navbar-brand-pt {
  padding-top: 7px; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-default .navbar-nav > .open > a {
  background: #222;
  color: #fa7018; }

.dropdown-menu {
  background: #222; }

.dropdown-menu > li > a {
  color: #fff; }

.dropdown-menu > li > a:hover {
  background: #111;
  color: #fff; }

.navbar-default .navbar-nav .dropdown a.dropdown-toggle:hover {
  color: #fa7018;
  background: #222; }

.intro-group {
  background: #0a0b05 url(http://images.cecb2b.com/images/internation/BannerBg.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 0 1.3125em;
  position: relative;
  padding-top: 18em;
  padding-bottom: 10em; }
  .intro-group h4 {
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica";
    font-size: 18px;
    line-height: 32px;
    font-weight: 200; }
  .intro-group h2 {
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica";
    font-size: 30px;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 40px; }
  .intro-group p {
    padding-top: 20px;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica";
    font-weight: 200; }

.btn-white-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-weight: 700;
  letter-spacing: 1px; }

.btn-white-transparent:hover {
  color: #fff;
  background-color: #fa7018;
  border-color: #fa7018; }

.noborder {
  border-radius: 0px; }

.btn-padding {
  padding: 20px 0px; }

.navbar-fixed-top.opaque {
  background-color: rgba(34, 34, 34, 0.95) !important;
  transition: background-color 1s ease 0s; }

.customer-group h3 {
  font-size: 18px;
  color: #fa7018;
  margin-top: 10px;
  font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
  margin: 5px 0px; }
.customer-group .customer-title {
  font-weight: bold;
  height: 120px;
  line-height: 120px; }
.customer-group img {
  border: 1px solid #fa7018;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 20px; }
.customer-group p {
  margin: 30px 0px 80px; }

.checkbox-group {
  background: url(http://images.cecb2b.com/images/internation/SelectBg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .checkbox-group h3 {
    padding: 40px 0 77px;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
  .checkbox-group .list-group-color {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 0 none;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 20px 0px 20px 30px;
    font-size: 18px; }
  .checkbox-group .check-input {
    margin-right: 20px; }

.list-group-color:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.Get-Started {
  background-color: #fa7018;
  color: #fff;
  padding: 17px 0px;
  border-radius: 0px;
  margin: 110px 0 60px; }
  .Get-Started:hover {
    background-color: #e45900;
    color: #fff; }

.online-group {
  background: url(http://images.cecb2b.com/images/internation/onBg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 103px 0 10px; }
  .online-group h1 {
    font-size: 60px;
    color: #fff; }
  .online-group .online-hr {
    height: 3px;
    width: 300px;
    background-color: #fff; }
  .online-group h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 60px; }
  .online-group p {
    color: #fff;
    font-size: 18px; }

.partners-group {
  padding-bottom: 160px; }
  .partners-group h4 {
    font-weight: bold;
    margin: 60px 0 40px; }
  .partners-group p {
    margin-bottom: 80px; }

.footer {
  background-color: #333;
  padding-top: 60px;
  padding-bottom: 120px; }
  .footer li {
    padding: 6px 10px; }
    .footer li:hover {
      background-color: #444; }
    .footer li a {
      color: #fff; }
      .footer li a:hover {
        text-decoration: none; }
  .footer .site-social {
    margin-top: 10px;
    margin-left: 12px; }
    .footer .site-social a {
      background: #222222;
      color: #fff;
      margin-right: 10px;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px; }
      .footer .site-social a:hover {
        text-decoration: none;
        background-color: #111; }

.font20 {
  font-size: 20px; }

.font24 {
  font-size: 24px; }

.font100 {
  font-size: 100px; }

.trade-banner {
  background: url(http://images.cecb2b.com/images/internation/tradBg.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 233px 0 260px; }
  .trade-banner h1 {
    font-size: 50px;
    color: #fff; }
  .trade-banner p {
    color: #fff; }

.critical-group {
  padding: 80px 0 60px; }
  .critical-group h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 50px; }

.list-column {
  border: 1px solid #e6e6e6;
  min-height: 240px;
  padding: 30px 20px 0px 26px; }

.review-group {
  background-color: #e1ebf5;
  padding: 70px 0 90px; }
  .review-group h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px; }
  .review-group .review-list {
    position: relative;
    padding-left: 30px;
    min-height: 160px; }
    .review-group .review-list h5 {
      font-weight: bold; }
    .review-group .review-list p {
      color: #666; }
    .review-group .review-list i {
      position: absolute;
      left: 0px;
      top: -3px;
      color: #4cab38; }

.transaction-group {
  background-color: #3776d3;
  padding: 60px 0 40px; }
  .transaction-group h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 60px; }
  .transaction-group h4 {
    color: #fff;
    font-weight: bold; }
  .transaction-group i {
    color: #fff; }
  .transaction-group p {
    color: #fff; }

.btn-found {
  background-color: #fa7018;
  color: #fff;
  text-transform: uppercase;
  padding: 17px 20px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px; }
  .btn-found:hover {
    background-color: #e45900;
    color: #fff; }

.customers-group {
  background-color: #e6e8e9;
  padding: 60px 0 80px; }
  .customers-group h4 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px; }
  .customers-group p {
    color: #666;
    margin-bottom: 80px; }
    .customers-group p strong {
      color: #333; }
  .customers-group a {
    font-weight: bold;
    font-size: 18px; }
    .customers-group a:hover {
      text-decoration: none; }
    .customers-group a .cust-list {
      background-color: #fff;
      padding: 60px 30px 60px; }
      .customers-group a .cust-list h5 {
        font-weight: bold;
        font-size: 18px;
        color: #333; }
      .customers-group a .cust-list span {
        font-weight: bold;
        font-size: 14px;
        color: #333; }

.footbanner-group {
  background: url(http://images.cecb2b.com/images/internation/yearBg.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0 80px; }
  .footbanner-group h3 {
    font-size: 18px;
    color: #fff;
    text-overflow: uppercase; }

/*# sourceMappingURL=main.css.map */
