@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot');
    src: url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.woff') format('woff'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

$colorwhite:#fff;
$noborder-radius:0px;
$background-size-cover:cover;
$font-family:"Gotham SSm A",
"Gotham SSm B",
"Helvetica Neue",
"Helvetica";
$font-size14:14px;
$font-size18:18px;
$font-size30:30px;
$font-weight:200;
$fl:left;
$fr:right;
$position-r:relative;
$padding-top28:28px;
$background-color22:#222;
$nopadding:0px;
$nobackground:0 none;
$padding-left:0px;
$width:100%;
.header {}
.fl{
    float: $fl;
}
.fr{
    float: $fr;
}
.navbar {
    border: 1px solid transparent;
    padding: 15px 0px;
}

.navbar-fixed-top {
    background-color: transparent!important;
    transition: background-color 1s ease 0s;
}

.navbar-brand-pt {
    padding-top: 7px;
}

.navbar-default .navbar-nav > li > a {
    color: $colorwhite;
    font-size: $font-size14;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $colorwhite;
}

.navbar-default .navbar-nav>.open>a {
    background: #222;
    color: #fa7018;
}

.dropdown-menu {
    background: #222;
}

.dropdown-menu>li>a {
    color: $colorwhite;
}

.dropdown-menu>li>a:hover {
    background: #111;
    color: $colorwhite;
}

.navbar-default .navbar-nav .dropdown a.dropdown-toggle:hover {
    color: #fa7018;
    background: #222;
}

.intro-group {
    background: #0a0b05 url(http://images.cecb2b.com/images/internation/BannerBg.jpg) top center no-repeat;
    -webkit-background-size: $background-size-cover;
    -moz-background-size: $background-size-cover;
    -o-background-size: $background-size-cover;
    background-size: $background-size-cover;
    color: $colorwhite;
    padding: 0 1.3125em;
    position: $position-r;
    padding-top: 18em;
    padding-bottom: 10em;
    h4 {
        font-family: $font-family;
        font-size: $font-size18;
        line-height: 32px;
        font-weight: $font-weight;
    }
    h2 {
        font-family: $font-family;
        font-size: $font-size30;
        font-weight: $font-weight;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    p {
        padding-top: 20px;
        font-family: $font-family;
        font-weight: $font-weight;
    }
}

.btn-white-transparent {
    color: $colorwhite;
    background-color: transparent;
    border-color: $colorwhite;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-white-transparent:hover {
    color: $colorwhite;
    background-color: #fa7018;
    border-color: #fa7018;
}

.noborder {
    border-radius: $noborder-radius;
}

.btn-padding {
    padding: 20px 0px;
}

.navbar-fixed-top.opaque {
    background-color: rgba(34, 34, 34, 0.95)!important;
    transition: background-color 1s ease 0s;
}

.customer-group {
    h3{
        font-size:$font-size18;
        color: #fa7018;
        margin-top: 10px;
        font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
        margin: 5px 0px;
    }
    .customer-title {
        font-weight: bold;
        height: 120px;
        line-height: 120px;
    }
    img {
        border: 1px solid #fa7018;
        border-radius: 50%;
        padding: 15px;
        margin-bottom: 20px;
    }
    p{
        margin: 30px 0px 80px;
    }
}
.checkbox-group{
    background: url(http://images.cecb2b.com/images/internation/SelectBg.jpg) center center no-repeat;
    -webkit-background-size: $background-size-cover;
    -moz-background-size: $background-size-cover;
    -o-background-size: $background-size-cover;
    background-size: $background-size-cover;
    h3{
        padding: 40px 0 77px;
        color: $colorwhite;
        font-size:$font-size18;
        font-weight: bold;
    }
    .list-group-color{
            background-color: rgba(0, 0, 0, 0.5);
            color: $colorwhite;
            border: 0 none;
            margin-bottom: 1px;
            overflow: hidden;
            padding: 20px 0px 20px 30px;
            font-size: 18px;
    }
    .check-input{
        margin-right: 20px;
    }
}
.list-group-color:hover{
    background-color:rgba(0,0,0,0.8);
}

