@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot');
    src: url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.woff') format('woff'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_5o7b3v2uan4mfgvi.svg#iconfont') format('svg');
}

$colorwhite:#fff;
$background-size-cover:cover;
$font-family:"Gotham SSm A",
"Gotham SSm B",
"Helvetica Neue",
"Helvetica";
$font-size18:18px;
$padding-top28:28px;
$background-color22:#222;
$nopadding:0px;
$nobackground:0 none;
$padding-left:0px;
$width:100%;
.pt28 {
    padding-top: $padding-top28;
}

.navbar-inverse .navbar-nav>li>a {
    color: $colorwhite;
}

.navbar-nav>li>a {
    color: $colorwhite;
    padding-top: 7px;
    padding-bottom: 7px;
}
.intro-group {
	background: #0a0b05 url(http://images.cecb2b.com/images/internation/BannerBg.jpg) top center no-repeat;
    -webkit-background-size: $background-size-cover;
    -moz-background-size: $background-size-cover;
    -o-background-size: $background-size-cover;
    background-size: $background-size-cover;
    color: $colorwhite;
    padding: 0 1.3125em;
    position: relative;
    padding-top: 18em;
    h4 {
        font-family: $font-family;
        font-size: $font-size18;
        line-height: 32px;
        font-weight: 200;
    }
}
.nav .open>a {
    background-color: $background-color22;
    padding-left: 76px;
}
.nav .open>a:hover{
    background:$nobackground;
    padding-left: 76px;
}
.open a.dropdown-toggle{
	color:#fa7018;
}
.nav>li>a:hover {
    background: $nobackground;
}

.down-bg {
    background: $background-color22;
    padding:$nopadding;
}

.down-bg>li>a {
    color: $colorwhite;
    border-top: 1px solid #2d2d2d;
    padding: 6px 20px;
}

.down-bg>li>a:hover {
    background-color: #111;
    color: $colorwhite;
}

.navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}
.nopaddingleft{
	padding-left:$padding-left;
}
.btn-outline {
    color:  $colorwhite;
    border-color: white;
    border: 2px solid #fff;
    width: $width;
    border-radius: 0px;
    font-size: 16px;
    padding: 19px 12px;
}
